body {
  background-color: #444;
}
h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 20px #000 !important ;
}
.DiceImg {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 250px !important;
  height: 250px !important;
  box-shadow: 0 0 20px #000 !important;
}

.button {
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: #eb4d4d;
  transition: 0.5s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.817) !important;
}
.button:hover {
  background-color: #fff;
  color: #eb4d4d;
}
.numberShuffle {
  font-weight: 900;
  font-size: 50px;
  color: #fff;
}

.shuffleColorChange {
  animation: shuffle 0.5s linear infinite;
  -webkit-animation: shuffle 0.5s linear infinite;
}

@keyframes shuffle {
  16.66% {
    color: #fff;
  }
  16.66% {
    color: #eb4d4d;
  }
  16.66% {
    color: #fff;
  }
  16.66% {
    color: #eb4d4d;
  }
  16.66% {
    color: #fff;
  }
  16.66% {
    color: #eb4d4d;
  }
}
.red {
  color: #eb4d4d !important;
}
.white {
  color: #fff !important;
}

.diceRolling {
  animation: roll 1s linear infinite;
  -webkit-animation: roll 1s linear infinite;
}
@keyframes roll {
  0% {
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    -ms-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
  }
  25% {
    transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    -moz-transform: rotateY(45deg);
    -ms-transform: rotateY(45deg);
    -o-transform: rotateY(45deg);
  }
  50% {
    transform: rotateX(-45deg);
    -webkit-transform: rotateX(-45deg);
    -moz-transform: rotateX(-45deg);
    -ms-transform: rotateX(-45deg);
    -o-transform: rotateX(-45deg);
  }
  75% {
    transform: rotateY(-45deg);
    -webkit-transform: rotateY(-45deg);
    -moz-transform: rotateY(-45deg);
    -ms-transform: rotateY(-45deg);
    -o-transform: rotateY(-45deg);
  }
  100% {
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    -ms-transform: rotateX(45deg);
    -o-transform: rotateX(45deg);
  }
}
